@import "../_mixins";
@import "../variables";
@import "../fonts";

/*========================== BODY, GRID, other positioning info ==========================*/

body {
    font-family: $main-font;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

main {
    flex-grow: 1;
}

#gradient-background {
    $gradient-start: rgba(map-get($colors, pink), 0.5);
    $gradient-end: map-get($colors, lilac);
    background: linear-gradient(0deg, $gradient-start, $gradient-end);
}

#vector-image {
    background-image: url(https://wallpapers.com/images/hd/vector-pictures-x1nze4l9fn79dlef.jpg);
}

.transparent-background-cold {
    @include full-width;
    background-color: rgba(39, 62, 71, 0.5);
}

.transparent-background-warm {
    @include full-width;
    background-color: rgba(156, 71, 100, 0.5);
}